@charset "UTF-8";
:root {
  --theme-color: #4D9600;
  --theme-color-section-background: rgba(77, 150, 0, 0.1);
  --font-color-appearance: #FFFFFF;
  --font-color-description: #000000;
  --font-yu-mincho: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", serif;
}

/* ----------
base
---------- */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
  scroll-padding-top: 8rem;
}

body {
  font-family: var(--font-yu-mincho);
  color: var(--font-color-description);
}

#container {
  width: 100%;
  overflow: hidden;
}

/* ----------
common
---------- */
/* PC、SPの非表示 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
header {
  padding-inline: 3rem;
}

@media (max-width: 767px) {
  header {
    padding-left: 2rem;
    padding-right: 0;
  }
}
.section-padding__inline, .footer {
  padding-inline: 3rem;
}

.section-padding__block {
  padding-block: 8rem;
}

@media (max-width: 767px) {
  .section-padding__block {
    padding-block: 5rem;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 88rem;
  margin-inline: auto;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.6rem;
}

.section-title__en {
  font-size: 3rem;
  line-height: 1.1;
  color: var(--theme-color);
}

.section-title__ja {
  font-size: 2rem;
  line-height: 1.65;
}

/* ----------
header
---------- */
.header {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: var(--font-color-appearance);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header a {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.is__scrolled {
  background-color: var(--theme-color);
}

@media (max-width: 767px) {
  .header {
    height: 5rem;
  }
  .header a {
    height: 5rem;
  }
}
.header__logo h1 a {
  font-size: 2rem;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.header__nav ul li a {
  position: relative;
  font-size: 1.8rem;
}
.header__nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2.45rem;
  width: 100%;
  height: 0.1rem;
  background-color: var(--font-color-appearance);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.header__nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 767px) {
  .hamburger {
    width: 7.2rem;
    height: 5rem;
    background: var(--font-color-appearance);
    position: relative;
  }
  .hamburger span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 0.4rem;
    background: var(--theme-color);
    border-radius: 0.4rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .hamburger span:nth-of-type(1) {
    top: 30%;
  }
  .hamburger span:nth-of-type(3) {
    top: 70%;
  }
  .hamburger.is__active span:nth-of-type(1) {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
  }
  .hamburger.is__active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger.is__active span:nth-of-type(3) {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
  }
}
@media (max-width: 767px) {
  .hamburger__menu {
    position: fixed;
    top: 5rem;
    right: 0;
    background: var(--theme-color);
    width: 30rem;
    height: 34.8rem;
    padding: 1.2rem 0 1.3rem 2rem;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  .hamburger__menu.is__open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .hamburger__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }
  .hamburger__menu ul li a {
    font-size: 1.8rem;
    line-height: 1.8333333333;
    font-weight: 600;
    color: var(--font-color-appearance);
    height: 3.3rem;
  }
}
/* ----------
header
---------- */
.fv {
  position: relative;
}

.fv__slide img {
  aspect-ratio: 1080/800;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .fv__slide img {
    aspect-ratio: 375/601;
  }
}
.fv__contents {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10;
  padding-top: 0.8333333333%;
  padding-left: 0.0925925926%;
}
.fv__contents h2 {
  color: var(--font-color-appearance);
  font-size: 3.7037037037vw;
  line-height: 1.75;
  font-weight: 600;
}

@media (max-width: 767px) {
  .fv__contents {
    padding-top: 2.2666666667%;
    padding-left: 0.1333333333%;
  }
  .fv__contents h2 {
    font-size: 8vw;
    line-height: 2;
  }
}
/* ----------
about
---------- */
.about {
  position: relative;
}

.about__image img {
  aspect-ratio: 1080/500;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .about__image img {
    aspect-ratio: 375/584;
  }
}
.about__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.about__catch {
  position: absolute;
  top: 10.1851851852vw;
  right: 40.5555555556vw;
}
.about__catch h3 {
  font-size: 2.7777777778vw;
  line-height: 1.6666666667;
  font-weight: 400;
  margin-bottom: 2rem;
}
.about__catch .about__catch-text {
  font-size: 1.6666666667vw;
  margin-right: 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.3888888889vw;
}

@media (max-width: 767px) {
  .about__catch {
    top: 13.3333333333vw;
    right: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__catch h3 {
    font-size: 6.6666666667vw;
    font-weight: 400;
    margin-bottom: 6.4vw;
  }
  .about__catch .about__catch-text {
    font-size: 4.2666666667vw;
    margin-right: 16vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4vw;
  }
}
/* ----------
service
---------- */
.service {
  background: var(--theme-color-section-background);
}

.service__contents {
  margin-top: 6.2962962963vw;
}

.service-item {
  position: relative;
}
.service-item:not(:first-child) {
  margin-top: 12.1296296296vw;
}
.service-item:nth-child(even) .service-item__image {
  margin-left: auto;
}
.service-item:nth-child(even) .service-item__image__caption {
  text-align: right;
}
.service-item:nth-child(even) .service-item__textarea {
  position: absolute;
  top: 13.4259259259vw;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 3.7037037037vw;
  padding-right: 0;
}

@media (max-width: 767px) {
  .service-item {
    position: static;
  }
  .service-item:not(:first-child) {
    margin-top: 13.3333333333vw;
  }
  .service-item:nth-child(even) .service-item__image {
    margin-left: auto;
  }
  .service-item:nth-child(even) .service-item__image__caption {
    text-align: right;
  }
  .service-item:nth-child(even) .service-item__textarea {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 5.3333333333vw;
  }
}
.service-item__image {
  width: 55.5555555556vw;
  height: 27.7777777778vw;
  position: relative;
  z-index: 10;
}

@media (max-width: 767px) {
  .service-item__image {
    width: 100%;
    height: 58.6666666667vw;
  }
}
.service-item__image__caption {
  margin-top: 1.7592592593vw;
  font-size: 1.4814814815vw;
  line-height: 1.5625;
}

@media (max-width: 767px) {
  .service-item__image__caption {
    margin-top: 1.3333333333vw;
    margin-bottom: 1.6vw;
    font-size: 4.2666666667vw;
  }
}
.service-item__textarea {
  background: var(--theme-color);
  width: 46.2962962963vw;
  height: 23.1481481481vw;
  color: var(--font-color-appearance);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 4.6296296296vw;
  padding-right: 2.5vw;
  position: absolute;
  top: 13.4259259259vw;
  right: 0;
  z-index: 1;
}
.service-item__textarea h3 {
  font-size: 2.3148148148vw;
  line-height: 1.32;
}
.service-item__textarea p {
  margin-top: 1.5740740741vw;
  font-size: 1.4814814815vw;
  line-height: 1.5625;
}

@media (max-width: 767px) {
  .service-item__textarea {
    background: var(--theme-color);
    width: 100%;
    height: 45.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 5.3333333333vw;
    padding-left: 5.3333333333vw;
    padding-right: 0;
    position: static;
  }
  .service-item__textarea h3 {
    font-size: 5.3333333333vw;
    line-height: 1.25;
  }
  .service-item__textarea p {
    margin-top: 3.7333333333vw;
    font-size: 4.2666666667vw;
  }
}
.service-item__textarea__adjustment {
  text-align: left;
}/*# sourceMappingURL=style.css.map */