:root {
  --theme-color: #4D9600;
  --theme-color-section-background: rgba(77, 150, 0, 0.1);
  --font-color-appearance: #FFFFFF;
  --font-color-description: #000000;
  --font-yu-mincho: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", serif;
}

/* ----------
base
---------- */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
  scroll-padding-top: 8rem;
}

body {
  font-family: var(--font-yu-mincho);
  color: var(--font-color-description);
}

#container {
  width: 100%;
  overflow: hidden;
}

/* ----------
common
---------- */
/* PC、SPの非表示 */  
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

header {
  padding-inline: 3rem;
}
@media (max-width: 767px) {
  header {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.section-padding__inline, .footer {
  padding-inline: 3rem;
}

.section-padding__block {
  padding-block: 8rem;
}
@media (max-width: 767px) {
  .section-padding__block {
    padding-block: 5rem;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 92rem;
  margin-inline: auto;
}

.section-title {
  text-align: center;

  h2 {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
  }
}

.section-title__en {
  font-size: 3rem;
  line-height: calc(33 / 30);
  color: var(--theme-color);
}

.section-title__ja {
  font-size: 2rem;
  line-height: calc(33 / 20);
}


/* ----------
header
---------- */
.header {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: var(--font-color-appearance);
  transition: background-color 0.4s ease;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    height: 8rem;
    display: flex;
    align-items: center;
  }

  &.is__scrolled {
    background-color: var(--theme-color);
  }
}
@media (max-width: 767px) {
  .header {
    height: 5rem;
    a {
      height: 5rem;
    }
  }
}

.header__logo {
  h1 {
    a {
      font-size: 2rem;
    }
  }
}

.header__nav {
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    li {
      a {
        position: relative;
        font-size: 1.8rem;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 2.45rem;

          width: 100%;
          height: 0.1rem;
          background-color: var(--font-color-appearance);

          transform: scaleX(0);
          transform-origin: left center;
          transition: transform 0.4s ease;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hamburger {
    width: 7.2rem;
    height: 5rem;
    background: var(--font-color-appearance);
    position: relative;

    span {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3.2rem;
      height: 0.4rem;
      background: var(--theme-color);
      border-radius: 0.4rem;
      transition: 0.4s;
      &:nth-of-type(1) {
        top: 30%;
      }
      &:nth-of-type(3) {
        top: 70%;
      }
    }
    &.is__active {
      span {
        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(45deg);
          top: 50%;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hamburger__menu {
    position: fixed;
    top: 5rem;
    right: 0;
    background: var(--theme-color);
    width: 30rem;
    height: 34.8rem;
    padding: 1.2rem 0 1.3rem 2rem;
    transform: translateX(100%);
    transition: transform 0.4s ease;

    &.is__open {
      transform: translateX(0);
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      li {
        a {
          font-size: 1.8rem;
          line-height: calc(33 / 18);
          font-weight: 600;
          color: var(--font-color-appearance);
          height: 3.3rem;
        }
      }
    }
  }
}

/* ----------
fv
---------- */

.fv {
  position: relative;
}

.fv__slide img {
  aspect-ratio: 1080 / 800;
  object-fit: cover;
}
@media (max-width: 767px) {
  .fv__slide img {
    aspect-ratio: 375 / 601;
  }
}

.fv__contents {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  padding-top: calc(9 / 1080 * 100%);
  padding-left: calc(1 / 1080 * 100%);

  h2 {
    color: var(--font-color-appearance);
    font-size: calc(40 / 1080 * 100vw);
    line-height: calc(70 / 40);
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .fv__contents {
    padding-top: calc(8.5 / 375 * 100%);
    padding-left: calc(0.5 / 375 * 100%);
    h2 {
      font-size: calc(30 / 375 * 100vw);
      line-height: calc(60 / 30);
    }
  }
}

/* ----------
to__top
---------- */
.to__top {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  z-index: 100;
  width: 6.8rem;
  height: 6.8rem;
  display: none;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--theme-color);
    font-size: 2.4rem;
    color: var(--font-color-appearance);
    transition: 0.4s;
    &:hover {
      background: var(--font-color-appearance);
      color: var(--theme-color);
      border: var(--theme-color) solid 0.1rem;
    }
  }

  &.is__show {
    display: block;
  }
}
@media (max-width: 767px) {
  .to__top {
    right: 2rem;
    width: 5rem;
    height: 5rem;
    a {
      font-size: 2rem;
    }
  }
}

/* ----------
about
---------- */
.about {
  position: relative;
}

.about__image {
  img {
    aspect-ratio: 1080 / 500;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .about__image {
    img {
      aspect-ratio: 375 / 584;
    }
  }
}

.about__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
}

.about__catch {
  position: absolute;
  top: calc(110 / 1080 * 100vw);
  right: calc(438 / 1080 * 100vw);

  h3 {
    font-size: calc(30 / 1080 * 100vw);
    line-height: calc(60 / 36);
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .about__catch-text {
    font-size: calc(18 / 1080 * 100vw);
    margin-right: calc(60 / 1080 * 100vw);
    display: flex;
    flex-direction: column;
    row-gap: calc(15 / 1080 * 100vw);
  }

}
@media (max-width: 767px) {
  .about__catch {
    top: calc(50 / 375 * 100vw);
    right: calc(30 / 375 * 100vw);
    display: flex;
    align-items: center;

    h3 {
      font-size: calc(25 / 375 * 100vw);
      font-weight: 400;
      margin-bottom: calc(24 / 375 * 100vw);
    }

    .about__catch-text {
      font-size: calc(16 / 375 * 100vw);
      margin-right: calc(60 / 375 * 100vw);
      display: flex;
      flex-direction: column;
      row-gap: calc(15 / 375 * 100vw);
    }

  }
}

/* ----------
service
---------- */
.service {
  background: var(--theme-color-section-background);
}

.service__contents {
  margin-top: calc(68 / 1080 * 100vw);
}

.service-item {
  position: relative;

  &:not(:first-child) {
    margin-top: calc(131 / 1080 * 100vw);
  }

  &:nth-child(even) {
    .service-item__image {
      margin-left: auto;
    }
    .service-item__image__caption {
      text-align: right;
    }

    .service-item__textarea {
      position: absolute;
      top: calc(145 / 1080 * 100vw);
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-left: calc(40 / 1080 * 100vw);
      padding-right: 0;
    }
  }
}
@media (max-width: 767px) {
  .service-item {
    position: static;

    &:not(:first-child) {
      margin-top: calc(50 / 375  * 100vw);
    }

    &:nth-child(even) {
      .service-item__image {
        margin-left: auto;
      }
      .service-item__image__caption {
        text-align: right;
      }

      .service-item__textarea {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: calc(20 / 375 * 100vw);
      }
    }
  }
}

.service-item__image {
  width: calc(600 / 1080 * 100vw);
  height: calc(300 / 1080 * 100vw);
  position: relative;
  z-index: 10;
}
@media (max-width: 767px) {
  .service-item__image {
    width: 100%;
    height: calc(220 / 375 * 100vw);
  }
}

.service-item__image__caption {
  margin-top: calc(19 / 1080 * 100vw);
  font-size: calc(16 / 1080 * 100vw);
  line-height: calc(25 / 16);
}
@media (max-width: 767px) {
  .service-item__image__caption {
    margin-top: calc(5 / 375 * 100vw);
    margin-bottom: calc(6 / 375 * 100vw);
    font-size: calc(16 / 375 * 100vw);
  }
}

.service-item__textarea {
  background: var(--theme-color);
  width: calc(500 / 1080 * 100vw);
  height: calc(250 / 1080 * 100vw);
  color: var(--font-color-appearance);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: calc(50 / 1080 * 100vw);
  padding-right: calc(27 / 1080 * 100vw);
  position: absolute;
  top: calc(145 / 1080 * 100vw);
  right: 0;
  z-index: 1;
  h3 {
    font-size: calc(25 / 1080 * 100vw);
    line-height: calc(33 / 25);
  }
  p {
    margin-top: calc(17 / 1080 * 100vw);
    font-size: calc(16 / 1080 * 100vw);
    line-height: calc(25 / 16);
  }
}
@media (max-width: 767px) {
  .service-item__textarea {
    background: var(--theme-color);
    width: 100%;
    height: calc(171 / 375 * 100vw);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: calc(20 / 375 * 100vw);
    padding-left: calc(20 / 375 * 100vw);
    padding-right: 0;
    position: static;
    h3 {
      font-size: calc(20 / 375 * 100vw);
      line-height: calc(25 / 20);
    }
    p {
      margin-top: calc(14 / 375 * 100vw);
      font-size: calc(16 / 375 * 100vw);
    }
  }
}

.service-item__textarea__adjustment {
  text-align: left;
}

/* ----------
works
---------- */
.works {
  padding-bottom: calc(97 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .works {
    padding-bottom: calc(42 / 375 * 100vw);
  }
}

.works__contents {
  margin-top: calc(68 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .works__contents {
    margin-top: calc(38 / 375 * 100vw);
  }
}

.works__items {
  display: flex;
  column-gap: calc(40 / 1080 * 100vw);
  justify-content: space-between;
}
@media (max-width: 767px) {
  .works__items {
    flex-direction: column;
    row-gap: calc(22 / 375 * 100vw);
  }
}

.works-item {
  width: calc(200 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .works-item {
    width: 100%;
  }
}

.works-item__image {
  cursor: pointer;
}

.works-item__textarea {
  margin-top: calc(19 / 1080 * 100vw);
  cursor: pointer;
  p {
    font-size: calc(16 / 1080 * 100vw);
    line-height: calc(25 / 16);
  }
}
@media (max-width: 767px) {
  .works-item__textarea {
    margin-top: calc(9 / 375 * 100vw);
    p {
      font-size: calc(16 / 375 * 100vw);
      line-height: calc(25 / 16);
    }
  }
}

.works-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 9999;
}

.works-modal__outerframe {
  width: 45rem;
  height: 27.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 1.5rem 0.6rem 1.5rem;
  background: var(--font-color-appearance);
}
@media (max-width: 767px) {
  .works-modal__outerframe {
    width: 31.5rem;
    height: auto;
    padding: 2rem 2.1rem 1.4rem 2rem;
  }
}

.works-modal__close {
  position: absolute;
  top: 0.2rem;
  right: 0.28rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0.1rem;
    background-color: var(--font-color-description);
    transform-origin: center center;
    // transition: transform 0.4s ease;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.works-modal__image {
  width: 42rem;
  height: 22rem;
}
@media (max-width: 767px) {
  .works-modal__image {
    width: 27.4rem;
    height: 14.4rem;
  }
}

.works-modal__textarea {
  margin-top: 0.9rem;
  p {
    font-size: 1.6rem;
    line-height: calc(25 / 16);
  }
}
@media (max-width: 767px) {
  .works-modal__textarea {
    margin-top: 0.7rem;
  }
}

body.is__modal-open {
  overflow: hidden;
}

/* ----------
news
---------- */
.news {
  background: var(--theme-color-section-background);
}

.news__contents {
  margin-top: 6.8rem;
  display: flex;
  column-gap: 6rem;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .news__contents {
    flex-direction: column;
    row-gap: 5rem;
  }
}

.news-content {
  width: calc(430 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .news-content {
    width: 100%;
  }
}

.news-content__title {
  background: var(--theme-color);
  padding: 0.9rem 0 0.8rem 2rem;
  h3 {
    font-size: 2rem;
    line-height: calc(33 / 20);
    font-weight: 600;
    color: var(--font-color-appearance);
  }
}

.news-content__lineups {
  background: var(--font-color-appearance);
  padding-inline: 2rem;
}

.news-content__lineup {
  padding: 2rem 0 1.3rem 0;
  border-bottom: 0.1rem solid var(--theme-color);

  &:first-child {
    padding-top: 3rem;
  }

  a {
    display: flex;
    justify-content: space-between;
    column-gap: 6.5rem;
    color: var(--font-color-description);
    time {
      font-size: 1.6rem;
      line-height: calc(33 / 16);
      flex: 1;
    }
    p {
      font-size: 1.8rem;
      line-height: calc(25 / 18);
      flex: 4;
    }
  }
}
@media (max-width: 767px) {
  .news-content__lineup {
    a {
      column-gap: 2rem;
      time {
        flex: 1;
      }
      p {
        flex: 2.81;
      }

    }
  }
}

.news-content__link {
  padding: 2.3rem 2rem 3.1rem;
  background: var(--font-color-appearance);
  position: relative;
  display: flex;
  justify-content: flex-end;

  a {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    position: relative;

    width: 8rem;
    border-bottom: var(--theme-color) solid 0.1rem;

    transition: transform 0.4s ease;

    &::before {
      content: "";
      display: block;
      width: 1.8rem;
      height: 0.1rem;
      background-color: var(--theme-color);
      position: absolute;
      bottom: -0.1rem;
      right: 0.1rem;
      transform: rotate(90deg);
    }

    &::after {
      content: "";
      display: block;
      width: 1.3rem;
      height: 0.1rem;
      background-color: var(--theme-color);
      position: absolute;
      bottom: 0.4rem;
      right: -0.1rem;
      transform: rotate(45deg);
    }

      &:hover {
        transform: translateX(1rem);
      }
  }
}
@media (max-width: 767px) {
  .news-content__link {
    padding-bottom: 2.4rem;
  }
}